*{
margin:0;
padding:0;
font-family:Arial;
}

header{
background:#131921;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

header input{
width:40%;
padding:8px;
}

.cart{
background:#febd69;
padding:8px 15px;
color:black;
}

.hero{
height:350px;
background:linear-gradient(120deg,#ff512f,#dd2476,#1fa2ff);
display:flex;
justify-content:center;
align-items:center;
position:relative;
color:white;
overflow:hidden;
}

.bg-text{
position:absolute;
font-size:120px;
font-weight:bold;
opacity:0.08;
letter-spacing:20px;
}

.hero-content{
text-align:center;
z-index:2;
}

.hero button{
padding:10px 20px;
border:none;
background:white;
color:black;
margin-top:10px;
}

.products{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

.card{
box-shadow:0 0 10px rgba(0,0,0,0.1);
padding:15px;
position:relative;
transition:0.3s;
background:white;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
transition:0.3s;
}

.card:hover img{
transform:scale(1.05);
}

.badge{
position:absolute;
top:10px;
left:10px;
background:red;
color:white;
padding:4px 8px;
font-size:12px;
}

.card span{
position:absolute;
top:10px;
right:10px;
cursor:pointer;
}

.card button{
width:100%;
margin-top:5px;
padding:8px;
border:none;
background:#ffd814;
cursor:pointer;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.popup-content{
background:white;
padding:20px;
width:300px;
margin:8% auto;
text-align:center;
}

.popup img{
width:100%;
height:200px;
object-fit:cover;
}